body{

    width: 100%;

}

#search{

    display: flex;
    margin-top: 5%;
    text-align: center;
    justify-content: space-around;

}

#flex-4{
    margin-top: 18px;
}

#result{

    margin-top: 5%;
    margin-left: 11%;
    text-align: left;

}

input[type=text]{

    text-align: center;

}